.settings
.project
.classpath
/target
/settings
target
/mvnw.cmd
/.springBeans
/mvnw
/.mvn
.springBeans
.factorypath
.mvn
mvnw
mvnw.cmd
/catalina.home_IS_UNDEFINED
catalina.home_IS_UNDEFINED
.idea
.ideaDataSources
*.iml
*.ipr
*.iws
transaction-logs
/db
/datasources

[Tt]humbs.db
.DS_Store